# used to submit block result proofs
BLOCK_RESULT_OPERATOR_PRIVATE_KEY=<PRIVATE-KEY-OF-BLOCK-RESULT-OPERATOR>

# if running refiner and all supporting services using docker compose
NODE_ETHEREUM_MAINNET=http://hardhat-node:8545/
IPFS_PINNER_URL=http://ewm-das:5080
EVM_SERVER_URL=http://evm-server:3002

# if running refiner locally and all other services using docker compose
NODE_ETHEREUM_MAINNET=http://127.0.0.1:8545/
IPFS_PINNER_URL=http://127.0.0.1:5080
EVM_SERVER_URL=http://127.0.0.1:3002