# used to submit and block result through a web3 storage service
WEB3_JWT=<WEB3-JWT> 
# used  for testing and forking a state of ethereum mainnent
ERIGON_NODE=<FORKED-ERIGON-NODE>
# used to submit block result proofs 
BLOCK_RESULT_OPERATOR_PRIVATE_KEY=<PRIVATE-KEY-OF-BLOCK-RESULT-OPERATOR>

# if running rudder and all supporting services using docker compose
NODE_ETHEREUM_MAINNET=http://hardhat-node:8545/
IPFS_PINNER_URL=http://ipfs-pinner:3000

# if running rudder locally and all other services using docker compose
NODE_ETHEREUM_MAINNET=http://127.0.0.1:8545/
IPFS_PINNER_URL=http://127.0.0.1:3000