export ERIGON_NODE="https://ethereum.web3.covalenthq.com/mainnet/rpc"
export IPFS_PINNER_URL="http://127.0.0.1:3000"
export EVM_SERVER_URL="http://127.0.0.1:3002"

[[ -f .envrc.local ]] && source_env .envrc.local