PATH_add bin

# for mix app
export NODE_ETHEREUM_MAINNET=""
export BLOCK_RESULT_OPERATOR_PRIVATE_KEY=""
# If running docker compose include this in .env and take out from here
export ERIGON_NODE=""

source_env_if_exists .envrc.local