export IPFS_PINNER_URL="http://127.0.0.1:3001"
export EVM_SERVER_URL="http://127.0.0.1:3002"

export BSP_PROOFCHAIN_ADDRESS=""
export BRP_PROOFCHAIN_ADDRESS=""
export PROOFCHAIN_CHAIN_ID=""

[[ -f .envrc.local ]] && source_env .envrc.local