name: compile-format

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
      - "develop"

env:
  MIX_ENV: test

jobs:
  deps:
    name: install-deps
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        elixir: ['1.17.1']
        otp: ['27']
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Retrieve Cached Dependencies
        uses: actions/cache@v4
        id: mix-cache
        with:
          path: |
            deps
            _build
            priv/plts
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('mix.lock') }}

      - name: Install Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
          mix deps.compile

      - name: Check Code Format
        run: mix format --check-formatted

      - name: Run Credo (SCA)
        run: mix credo

      # - name: Run Dialyzer (SCA)
      #   run: mix dialyzer --plt

      # - name: Run test
      #   run: mix test --trace --slowest 10
